@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@source "../node_modules/flowbite";

@keyframes centered-loader-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.centered-loader-spin {
    animation: centered-loader-spin 1s linear infinite;
}

:root, html, body {
    color-scheme: dark;
}

input,
select,
button {
    border-radius: 0.5rem;
    background-clip: padding-box;
    overflow: hidden;
}

textarea {
    border-radius: 0.5rem;
    background-clip: padding-box;
}


select,
select:focus {
    background-color: var(--color-bgSecondary) !important;
    color: var(--color-textPrimary) !important;
    border-color: var(--color-borderAccentLight) !important;
}

select:has(option[disabled]:checked) {
    color: var(--color-textSecondary) !important;
}

option {
    background-color: var(--color-bgSecondary);
    color: var(--color-textPrimary);
}

option:disabled {
    color: var(--color-textSecondary);
}

option:hover,
option:checked {
    background-color: #3b82f6;
    color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-borderAccent);
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-textAccent);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-borderAccent) transparent;
}

@theme {
    /* Backgrounds */
    --color-bgPrimary: #020617;
    --color-bgSecondary: #1e293b;
    --color-bgAccentPrimary: #1e1b4b;
    --color-bgAccentSecondary: #4a044e;
    --color-bgSuccessSoft: rgba(74, 222, 128, 0.1);
    --color-bgErrorSoft: rgba(239, 68, 68, 0.1);
    --color-bgWarningSoft: rgba(250, 204, 21, 0.1);

    /* Text */
    --color-textPrimary: #ffffff;
    --color-textSecondary: #9ca3af;
    --color-textAccent: #a21caf;
    --color-textError: #ef4444;
    --color-textSuccess: #4ade80;
    --color-textWarning: #facc15;

    /* Borders / highlights */
    --color-borderAccent: #701a75;
    --color-borderAccentLight: rgba(112, 26, 117, 0.4);

    /* Spacing */
    --spacing-app-gap: 1.5rem; /* gap-6 */
    --spacing-app-padding: 1rem; /* p-4 */
}
